/* 
 ________  _________    ___    ___ ___       _______   ________      
|\   ____\|\___   ___\ |\  \  /  /|\  \     |\  ___ \ |\   ____\     
\ \  \___|\|___ \  \_| \ \  \/  / | \  \    \ \   __/|\ \  \___|_    
 \ \_____  \   \ \  \   \ \    / / \ \  \    \ \  \_|/_\ \_____  \   
  \|____|\  \   \ \  \   \/  /  /   \ \  \____\ \  \_|\ \|____|\  \  
    ____\_\  \   \ \__\__/  / /      \ \_______\ \_______\____\_\  \ 
   |\_________\   \|__|\___/ /        \|_______|\|_______|\_________\
   \|_________|       \|___|/                            \|_________|
*/


/* Global Styles */

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html, body { 
  background: yellow;
  scrollbar-width: none !important;
  height: 100%;
  /* overflow-x: hidden;
  overflow-y: scroll; */
  -webkit-overflow-scrolling: touch;
}

.header {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #353535;
  background-color: #000;
  height: 56px;
  width: 100%;
  opacity: 0.5;
}

.content {
  background: red;
  height: 1000px;
  width: 100%;
  margin-top: 56px;
}
